KERNEL_ARCH_CFLAGS    := -I$(ARCHDIR)/include
KERNEL_ARCH_LDFLAGS   :=
KERNEL_ARCH_LIBS      :=

KERNEL_ARCH_OBJS      :=  $(ARCHDIR)/boot.o                               \
                          $(ARCHDIR)/memory/frame_allocator.o             \
                          $(ARCHDIR)/memory/paging.o                      \
                          $(ARCHDIR)/memory/paging_enable.o               \
                          $(ARCHDIR)/memory/paging_load_page_directory.o  \
                          $(ARCHDIR)/display/tty.o                        \
